In [1]:
import pandas
data = pandas.read_csv('ordata-processed.csv')

In [2]:
data['occupation_code']

0      000
1      001
2      003
3      007
4      008
5      009
6      010
7      011
8      012
9      013
10     014
11     022
12     028
13     029
14     034
15     036
16     037
17     041
18     043
19     047
20     052
21     053
22     05A
23     067
24     068
25     071
26     080
27     081
28     086
29     087
      ...
308    898
309    907
310    908
311    910
312    913
313    918
314    920
315    921
316    922
317    923
318    926
319    929
320    934
321    936
322    939
323    945
324    946
325    947
326    949
327    958
328    960
329    962
330    986
331    999
332    254
333    549
334    590
335    705
336    91A
337    924
Name: occupation_code, Length: 338, dtype: object

In [3]:
data.columns

Index(['occupation_code', '00728', '01030', '01031', '01032', '01033', '01034',
       '01036', '01037', '01038',
       ...
       '00643', '00803', '00804', '01029', '01084', '01085', '01087', '01088',
       '01090', '01091'],
      dtype='object', length=343)

In [5]:
data['00135']

0      2.00
1      6.40
2      6.00
3      0.00
4      6.00
5      6.00
6      6.00
7      6.50
8      0.00
9      7.00
10     0.00
11     6.64
12     6.50
13     6.67
14     4.00
15     4.00
16     6.00
17     6.00
18     2.00
19     5.36
20     4.25
21     5.00
22     0.00
23     6.40
24     7.00
25     6.65
26     6.00
27     6.40
28     0.00
29     0.00
       ...
308    0.00
309    1.00
310    2.00
311    2.00
312    4.00
313    0.00
314    0.00
315    0.00
316    0.00
317    0.00
318    0.00
319    0.00
320    0.00
321    0.00
322    0.00
323    0.00
324    0.00
325    0.00
326    0.50
327    0.00
328    0.00
329    7.00
330    0.00
331    1.00
332    0.00
333    0.80
334    0.00
335    6.00
336    0.00
337    0.00
Name: 00135, Length: 338, dtype: float64